
/*  */
.todo-list li{
	display: flex;
   
    justify-content: start;
	margin-top: 15px;
}
input[type="checkbox" i]{
	width: 30px;

}
span{
	width: 480px;
}
.delete{
	color: #cc9a9a;
	cursor: pointer;
}
